
h1 {
    text-align: center;
    margin-bottom: 30px;
    color:chocolate; /* Couleur du texte */
  }
  
  /* Style pour les cartes de produits */
  .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
  }
  
  /* Style pour l'image du produit */
  .card img {
    height: 200px; /* Hauteur de l'image */
   /* Assure que l'image remplit complètement le conteneur */
  }
  
  /* Style pour le nom du produit */
  .card-title {
    font-size: 1.2em; /* Taille de la police */
    margin-bottom: 10px;
  }
  
  /* Style pour la description du produit */
  .card-text {
    color: #666; /* Couleur du texte */
  }
  
  /* Style pour le corps de la carte */
  .card-body {
    padding: 20px; /* Espacement interne */
  }
  